<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /Store-management/public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url= [QSA,L]
</IfModule>
